#TextSolve{
	color: #FFFFFF;
	background-color: #616161;
	width: 70%;
	border-radius: 20px;
	font-family: Andale Mono, monospace;
	font-size: 200%;
}

#CentralDiv{
	background-color: #D9D9D9;
	margin-top: 15%;
	margin-bottom: 10%;
	width: 70%;
	height: 60%;
	opacity: 0.9;
	border-radius: 20px;
}

.Application{
	width: 20%;
	height: 20%;
	padding: 5%;
	margin-top: 15%;
	margin: 3%;
	background-color: #B7B7B7;
	border-radius: 25px;
}

.Application:hover{
	background-color: #B7D9B7;
	
}